@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, sunset, autumn, retro, dim, coffee, abyss;
}

body {
  color: rgb(223, 213, 213);
  font-family: sans-serif;
  -webkit-text-size-adjust: 23;
  padding: 22px;
  font-size: 18px;
}
h1{
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
}
h3{
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}
p{
  font-family: sans-serif;
  font-size: medium;
}

line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date-column {
  width: 130px;
  min-width: 135px; 
}

