@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body {
    color: rgb(223, 213, 213);
    font-family: sans-serif;
    -webkit-text-size-adjust: 23;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
